name: PublishDocker_gui
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - id: pre-step
      shell: bash
      run: echo "release-version=$(echo ${GITHUB_SHA:0:8})" >> $GITHUB_OUTPUT
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@v4
      env:
        InstallGooglepinyin: 1
        env2: 1
      with:
        name: subinghong/ubuntu-ssh
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        buildargs: InstallGooglepinyin,env2
        dockerfile: dockerfile_ubuntu_sshd_tailscale
        tags: "gui,gui_${{ steps.pre-step.outputs.release-version }}"
        cache: true
